*.o
*.a
radiochat
radiopiglatin
testax5043tx
testax5043rx
testax5043init
testax50432freq
testafsktx
doc/html/
doc/latex/
/.metadata/

.vscode/
direwolf/
pi-power-button/
radioafsk
rpitx/
sim.cfg
t.txt
telem.wav
morse.wav
wpa_supplicant.conf
